<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Yoga Care</title>

</head>
<body>
        <header>
          <h2><a href="/">Yoga Care</a></h2>
          <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/positions">Positions</a></li>
            <li><a href="/videos">Videos</a></li>
          </nav>
        </header>
      
        <section class="hero">
          <div class="background-image"></div>
          <div class="hero-content-area">
            <h3>Your All-in-one place to start with Yoga!</h3>
            <h3>Come at Yoga Care</h3>
            <a href="/positions" class="btn">Let's Get Started</a>
          </div>
        </section>
</body>
</html>